/* 总体基本样式 */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

a {
  color: #2d374b;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #d4c395;
  text-decoration: none;
}

button,
input {
  font-family: "Microsoft YaHei", "Heiti SC", tahoma, arial, "Hiragino Sans GB",
    \\5B8B\4F53, sans-serif;
  /*取消轮廓线 蓝色的*/
  outline: none;
}

body {
  background-color: #fff;
  font: 12px/1.5 "Microsoft YaHei", "Heiti SC", tahoma, arial,
    "Hiragino Sans GB", \\5B8B\4F53, sans-serif;
  -webkit-text-size-adjust: 100%;
  line-height: normal !important;
}

.hide,
.none {
  display: none;
}
/*清除浮动*/
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}
