@charset "utf-8";

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 18%;
  left: 0;
  margin-top: 13px;
  /* margin-left: 0; */
  width: 100%;
  height: 100%;
}

.button-group {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100px;
  top: 20%;
  left: 51px;
  padding: 10px;
}

#btn1,
#btn2,
#btn {
  width: 209px;
  background-color: #b1191a;
  border: 5px;
  font-size: 16px;
  color: #fff;
}
.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 60px;
  bottom: 0;
  right: 8px;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

/* 弹出样式 */
.mapboxgl-popup {
  max-width: 400px;
  font: 32px/40px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#menu {
  position: absolute;
  background: #efefef;
  display: inline;
  right: 2%;
  bottom: 2%;
  /* padding: 10px; */
  font-family: "Open Sans", sans-serif;
}

#plane {
  position: absolute;
  display: none;
  margin-left: 61px;
  margin-top: 10%;
  width: 209px;
  background: rgba(248, 248, 255, 0.623);
  box-sizing: border-box;
  padding: 14px 20px 0 20px;
  font-family: Arial, sans-serif;
}

.ol-attribution > ul {
  font-size: 12px;
}

.label-wrap {
  padding: 10px 10px 0 10px;
  float: right;
}

.sp-replacer {
  border-color: #ddd;
}

.panel-heading {
  position: relative;
  padding: 6px 12px;
}

.panel-heading .label {
  position: absolute;
  right: 10px;
  top: 4px;
}

.panel-body {
  padding: 3px;
}
.panel-title {
  font-size: 12px;
}

.form-control {
  height: 26px;
  padding: 4px 12px;
  font-size: 10px;
}

.panel {
  margin-bottom: 10px;
}
